.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}
/*блок header*/
.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  z-index: 1;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
}

.header__title {
  display: flex;
  align-items: center;
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  bottom: 30px;
  left: 64px;
  width: 398px;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  bottom: 0;
  right: 0%;
  z-index: -1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background: #2f80ed;
  top: 64px;
  right: 0;
  z-index: -2;
}
/*блок header*/

/*блок description*/
.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.two-columns {
  display: flex;
  min-width: 784px;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  justify-content: right;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:last-child{
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}
/* блок description */

/* блок digits */

.digits {
  display: flex;
  justify-content: first baseline;
  flex-direction: column;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;     
  margin: 100px auto 0;       
  height: fit-content;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  line-height: 1.15;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0; 
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  font-weight: normal;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto 0px auto; 
}

.table__cell {
  display: block;
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.table__text:last-child{
  margin-bottom: 0;
}
/* блок digits */

/* блок feynman */

.feynman {
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  z-index: 1;
}

.feynman__title {
  margin: 0 auto 0 auto;
  padding-top: 100px;
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  padding-top: 70px;
  text-align: center;
  margin: 0 auto 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  height: 637px;
  width: 867px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

/* блок feynman */

/* блок kaufman */

.kaufman {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-color: #1f1f1f;
  color: white;
  z-index: 1;
}

.section-title_theme_dark {
  margin: 90px auto 20px;
}

.section-subtitle_theme_dark {
  margin: 0 auto 0;
}

.table_theme_dark {
  margin: 0 auto 90px auto;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0 0;
  color: white;
}

.table__heading_theme_dark {
  margin: 0 0 20px 0;
}

.table__text_theme_dark {
  margin: 0;
}

.kaufman__triangle {
  position: absolute;
  background: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
}

/* блок kaufman */
/* блок footer */

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column{
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background: url(../images/logo_place_footer.svg);
  height: 35px;
  padding-bottom: 0;
  padding-left: 0;
}

.footer__author {
  margin: 0;
  padding: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__column-links {
  text-decoration: none;
  justify-content: center;
  color: white;
  line-height: 30px;
  font-weight: normal;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: 0;
  padding-right: 10px;
}

.footer__column-link {
  display: flex;
  font-size: 18px;
  flex-direction: column;
  line-height: 30px;
  padding-bottom: 16px;
}
